.categoryTour {
    margin: 7% auto;
    width: 70%;
}

.categoryTour h1{
    font-size: 1.75rem;
    line-height: 2.5rem;
    font-weight: 800;
}

.categoryTour h2{
    font-size: 1.25rem;
}

.tourDetail li{
    list-style-type: none;
    display: inline-block;
    margin-right: 24px;
    border-radius: 7px;
    box-shadow: 0 6px 16px 0 rgba(0,0,0,.15);
    cursor: pointer;
}

.tourDetail li:last-child{
  margin-right: 0px;
}

.tourDetail li img{
    width: 200px;
    height: 140px;
    border-radius: 7px 7px 0 0;
}

.tourDetail li a{
    display: block;
    margin: 10px ;
    font-weight:800;
    color:#777474
}

.tourDetail li:hover{
    box-shadow: 0 6px 16px 0 rgba(0,0,0,.35);
    color:#e71575;
}

.categoryTour .topGuider{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2%;
}

.categoryTour .topGuider .topGuiderByRate , .TopGuiderByContribute {
    width: 45%;
    border-radius: 10px;
}

.topGuider .topGuiderByRate .profile-box{
    margin-top: 30px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.35);
    width: 400px;
    border-radius: .5rem;
    padding: 2rem 1.5rem;
    margin: 30px auto;
}

.topGuider .topGuiderByRate > h1{
    margin-left: 15%;
}

.owl-item{
    margin-right: 0 !important;
}
.item{
    margin: 20px 20px 10px 20px;
}
.item h2{
    position: absolute;
    display: inline-block;
    color: white;
    top: 40px;
    left: 30px;
    width: 170px;
    white-space: normal;
    font-size: 35px;
    font-weight: 600;
}
.owl-carousel .item img{
    width: 410px;
    height: auto;
    border-radius: 10px;

}
.item button{
    border: 1px solid #fff;
    border-radius: 1.5rem;
    padding: 0 1rem;
    line-height: 2rem;
    margin-top: 1rem;
    background: rgba(0,0,0,.3);
    font-size: .875rem;
    font-weight: 600;
    order: 2;
    position: absolute;
    color: white;
    bottom: 50px;
    right: 60px;
}

.item button:hover{
    color:#e71575;
    border-color: #e71575;
}



.coverTopTour .owl-prev,.owl-next{
    width: 50px;
    height: 50px;
    border-radius: 100% !important;
    overflow: hidden;
    padding: 4px;
    box-shadow: 2px 2px 4px rgba(0,0,0,.3);
    font-size: 20px;
    border: 1px solid #eaeaea;
    transition: background-color .13s ease-in,box-shadow .13s ease-in;
    
}
.coverTopTour .owl-prev{
    position: absolute;
    top: 140px;
    left: -70px;
}

.coverTopTour .owl-next{
    position: absolute;
    top: 140px;
    right: -70px;
}

.coverTopTour .owl-prev span{
    font-size: 35px;
}

.coverTopTour .owl-next span{
    font-size: 35px;
}
.owl-dots{
    display: none;
}
.coverTopTour .owl-stage .active{
    background-color: #fff;
}
.coverTopTour .fa-arrow-left {
    font-size: 20px;
}
.coverTopTour .fa-arrow-right{
    font-size: 20px;
}
.owl-carousel .owl-stage-outer {
    overflow-y: hidden !important;
    overflow-x: auto !important;
    padding: 20px 0 0 20px;
}
.owl-carousel.owl-loaded {
    position: relative;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
    border-radius: 7px;
}
::-webkit-scrollbar-thumb {
    background: #C31A7D; 
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ccc; 
}