.container{
    margin-top:5%;
}

.text-lg-center{
    text-align: left!important;
}

.text-lg-center h2 {
    margin-bottom: 15px;
}

.btn-info{
    margin-left: -12px;
}
.activitiesInput {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 80%;
    height: 190px;
    margin: 0 auto;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-right: 8%;
}
.actEditPost{
    border-bottom: none !important;
}
.coverContent{
    width: 75%;
    margin: 0 auto;
    margin: 20px 40px;
}
.coverContent .brief,.detail{
    margin-bottom: 15px;
    margin-left: 6px;
}

.coverContent .brief input{
    width: 85%;
    margin-left: 13px;
    height: calc(1.5em + .75rem + 2px);
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.coverContent textarea{
    width: 84%;
    margin-left: 0px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    position: absolute;
    left: 50px;
}
 .coverContent{
    position: relative;
}
.coverContent .btn-danger{
    position: absolute;
    top: 40px;
    right: -86px;
}

.col-lg-8 .filePicture{
    border:none;
}


/* dropdown select */
.dropdownCoverSelect{
    position: relative;
    height: 50px;
}


.dropdown-select{
    width: 50%;
    height: 38px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    position: absolute;
    left: 167px;
}

.dropdownCoverSelect .btn-add-service{
    position: absolute;
    right: 53px;
}

.form-controllerEditPost {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}