/* foooter */

footer{
    margin-top:20px;
    height: 200px;
    width: 100%;
  }
  
  footer .footer-content{
    width: 70%;
    margin:0 auto;
    height: 100%;
  }
  
  footer .webLogo{
    display: inline-block;
  }
  
  .socialMedia{
    position: relative;
    padding: 0 0 20px 00;
    border-bottom: 1px solid #757575;
  }
  
  .socialMedia ul li{
    list-style-type: none;
  }
  .socialMedia ul{
    display:inline-block;
    position: absolute;
    right: 0;
    top: 3px;
  }
  
  .socialMedia ul::after{
    clear:both;
  }
  
  .socialMedia ul li{
    display:inline-block;
  }
  
  .socialMedia .socialMediaList li a:hover{
    color:#6fbe44;
  }
  
  .socialMedia .webLogo{
    font-size: 35px;
    font-weight: 800;
    opacity: 0.8;
  }
  
  .socialMedia .fa-arrows{
    font-size: 40px;
      color: gray;
      opacity: 0.8;
  }
  
  .socialMedia .socialMediaList li a{
    color:#bfbfbe;
    font-size: 40px;
    margin-right: 10px;
  }
  .webInfo{
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    line-height: 30px;
  }
  .webInfo div{
    display: inline-block;
    width: 16%;
  }
  
  .webInfo div ul li{
    list-style-type: none;
  }