.container{
    margin-top:2%;
}

.text-lg-center{
    text-align: left!important;
}

.text-lg-center h2 {
    margin-bottom: 15px;
}

.btn-info{
    margin-left: -12px;
}
.activitiesInput {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 80%;
    height: 190px;
    margin: 0 auto;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-right: 10%;
}

.coverContent{
    width: 75%;
    margin: 0 auto;
    margin: 20px 40px;
}
.coverContent .brief,.detail{
    margin-bottom: 15px;
    margin-left: 10px;
}

.coverContent .brief input{
    width: 82%;
    margin-left: 33px;
    height: calc(1.5em + .75rem + 2px);
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.coverContent textarea{
    width: 80%;
    margin-left: 24px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    position: absolute;
    top: 50px;
    left: 50px;
}
 .coverContent{
    position: relative;
}
.coverContent .btn-danger{
    position: absolute;
    top: 40px;
    right: -86px;
}

.col-lg-8 .filePicture{
    border:none;
}


/* dropdown select */
.dropdownCoverSelect{
    position: relative;
    height: 50px;
}


.dropdown-select{
    width: 50%;
    height: 38px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    position: absolute;
    left: 167px;
}

.dropdownCoverSelect .btn-add-service{
    position: absolute;
    right: 53px;
}